<div class="jumbotron">
  <h1>Word Count</h1>
  <div class="row">
    <nav>
      <ul class="nav">
        <li class="active"><a href="">Home</a></li>
        <li><a href="https://github.com/babun52/Week1-Ruby-Independent-Project/blob/master/README.md">README</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="container">
  <div class="col-md-8">
    <form action="/count">
      <div class="form-group">
        <label for="string">Enter a string: </label>
        <textarea name="string" class="form-control" rows="3" placeholder="String input"></textarea><br>
        <label for="word">Enter a word: </label>
        <textarea name="word" class="form-control" rows="1" placeholder="Word input"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Check!</button>
    </form>
  </div>
</div>
