<div class="jumbotron">
  <h1>The Result: </h1>
</div>
<div class="container">
  String you enter: <h3> <%= @string %></h3><br>
  Word you look for: <h3> <%= @word %></h3><br>
  Number of count: <h2> <%= @result %></h2>
</div>
<a href="/"><button type="button" class="btn btn-primary">Try Again!</button></a>
